@use "variables";
@use "social-media";

#content {
  position: relative;
  width: calc(100% - #{variables.$sidebar-width});
  left: calc(#{variables.$sidebar-width});
  transform: translateY(23%);

  section {
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;

    &.hidden {
      display: none;
    }

    #about-text {
      width: 75%;
    }

    p {
      font-size: 2rem;
      line-height: 120%;
      margin-bottom: 1.5rem;
    }

    img {
      width: 40%;
      margin-left: 2rem;
    }
  }
}