@use "variables";
@use "about-me";
@use "social-media";
@use "projects";

#content {
  position: relative;
  width: calc(100% - #{variables.$sidebar-width});
  left: calc(#{variables.$sidebar-width});
  transform: translateY(23%);

  section {
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &.hidden {
      display: none;
    }
  }
}