@use "variables";

#sidebar {
  background-color: scale-color(antiquewhite, $lightness: -15%);
  width: variables.$sidebar-width;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 100;

  > a {
    display: flex;
    justify-content: center;

    img {
      width: 100%;
      margin: 1rem 1rem 2.5rem 1rem;
    }
  }

  nav {
    margin-left: 2rem;
    margin-bottom: 7rem;

    li {
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
      padding: 0.5rem;
      cursor: pointer;

      .nav-item {
        padding-left: 0.5rem;
      }
    }
  }

  #quote {
    font-size: 1.5rem;
    border: black 3px solid;
    margin: 0 10%;
    padding: 0.5rem;
    max-height: 20rem;
    overflow: scroll;
  }

  .external-link {
      font-size: 0.5rem;
      position: absolute;
      margin-left: 0.15rem;
  }

  #github {
    width: variables.$sidebar-width;
    font-size: 1.3rem;
    position: fixed;
    bottom: 1rem;
    text-align: center;
  }
}