@use "variables";

#content {
  #social-media {
    flex-direction: column;

    &.hidden {
      display: none;
    }

    #logos {
      //display: flex;
      //justify-content: space-between;
      //gap: calc(100% / 4);
      //flex-wrap: wrap;
      display: grid;
      grid-template-columns: repeat(3, 10rem);
      column-gap: 35%;
      row-gap: 3rem;

      a {
        text-align: center;
        max-width: fit-content;
      }

      em {
        font-size: 10rem;
      }
    }
  }
}
