$sidebar-width: 17rem;

$body-color: #c7ddb5;
$sidebar-color: #4b6043;
$sidebar-nav-item-selected-color: darken($body-color, 15%);
$project-card-color: #3E424b;
$project-card-font-color: #F8F0E3;
$sidebar-font-color: #F8F0E3;

/*****************************************************************/
/* A huge thank you to Elle for helping me pick the color scheme */
/*****************************************************************/