@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
@keyframes slide-in-from-right {
  from {
    transform: translateX(calc(17rem + 300px));
  }
  to {
    transform: translateX(calc(17rem + 275px * -1));
  }
}
#content .animation {
  animation: 1s slide-in-from-right forwards;
}

#content #social-media {
  flex-direction: column;
}
#content #social-media.hidden {
  display: none;
}
#content #social-media #logos {
  display: grid;
  grid-template-columns: repeat(3, 10rem);
  column-gap: 35%;
  row-gap: 3rem;
}
#content #social-media #logos a {
  text-align: center;
  max-width: fit-content;
}
#content #social-media #logos em {
  font-size: 10rem;
}

#projects {
  display: flex;
  flex-direction: column;
}
#projects #projects-container {
  display: flex;
  justify-content: left;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 1rem;
  color: #F8F0E3;
}
#projects #projects-container .project {
  width: 30%;
  height: 20rem;
  background-color: #304151;
  padding: 1rem;
  border-radius: 7px;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: transform 0.2s;
}
#projects #projects-container .project:hover {
  transform: scale(1.1);
  z-index: 100;
}
#projects #projects-container .project:hover.left {
  transform-origin: 0 10rem;
}
#projects #projects-container .project:hover.right {
  transform-origin: 20rem 10rem;
}
#projects #projects-container .project h4 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-decoration: underline;
}
#projects #projects-container .project p {
  font-size: 1.5rem;
}
#projects #projects-container .project a {
  font-size: 1.2rem;
  position: absolute;
  bottom: 10px;
  left: 1rem;
  color: #F8F0E3;
  font-style: italic;
}
#projects #projects-container .project a em {
  margin-left: 0.5rem;
}

#content {
  position: relative;
  width: calc(100% - 17rem);
  left: calc(17rem);
  transform: translateY(23%);
}
#content section {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
}
#content section.hidden {
  display: none;
}
#content section #about-text {
  width: 75%;
}
#content section p {
  font-size: 2rem;
  line-height: 120%;
  margin-bottom: 1.5rem;
}
#content section img {
  width: 40%;
  margin-left: 2rem;
}

#sidebar {
  background-color: #1368a1;
  width: 17rem;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 100;
  border-right: solid 2px black;
}
#sidebar #sidebar-content {
  height: 81vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#sidebar > a {
  display: flex;
  justify-content: center;
}
#sidebar > a img {
  width: 100%;
  margin: 1rem 1rem 2.5rem 1rem;
}
#sidebar nav {
  margin-left: 2rem;
}
#sidebar nav li {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  margin-right: 0.5rem;
  padding: 1rem;
  cursor: pointer;
  border-radius: 10px;
}
#sidebar nav li.selected {
  border: 2px solid black;
  background-color: #3f99cd;
}
#sidebar nav li .nav-item {
  padding-left: 0.5rem;
}
#sidebar #quoteLocation {
  display: flex;
  justify-content: center;
}
#sidebar #quoteLocation em {
  font-size: 2rem;
}
#sidebar #quote {
  font-size: 1.5rem;
  border: black 3px solid;
  margin: 0 10% 1rem 10%;
  padding: 0.5rem;
  max-height: 20rem;
  overflow: scroll;
}
#sidebar .external-link {
  font-size: 1rem;
  margin-left: 0.15rem;
}
#sidebar #github {
  width: 17rem;
  font-size: 1.3rem;
  bottom: 1rem;
  text-align: center;
}

body {
  font-family: Tahoma, sans-serif;
  background-color: #7cb9dd;
}

h3 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=main.css.map */
